<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/base.css')}}"/>
    {% block styles %}
    {% endblock %}
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>
        {% block title %}
        {% endblock %}
    </title>
</head>
<body>
    <header>
        <!--code for the reusable navbar -->
        <nav>
            <ul id="navbar">
                <li class="navbarListElement"><a href='{{url_for("home")}}'><img src="{{ url_for('static', filename='favicon.ico') }}"></a></li>
                <li><button class="bookNowButton">Book now</button> </li>
            </ul>
        </nav>
        
    </header>
    <main>
        {% block main %}
        {% endblock %}
    </main>
    <footer id="footer">
        <div id='firstFooterDiv'class="footerDiv">
            <ul id="socialsList">
                <li><a href="https://www.tiktok.com/@sns.detailing" target="_blank" ><img src="{{url_for('static', filename='images/tiktok.png')}}"></a></li>
                <li><a href="https://www.instagram.com/sns.mobiledetailing" target="_blank" ><img src="{{url_for('static', filename='images/instagram.webp')}}"></a></li>
                <li><a href="mailto:soapnshinemobiledetailing@gmail.com" target="_blank" ><img src="{{url_for('static', filename='images/email.png')}}"></a></li>
                <!-- Add email functionality-->
            </ul>
            <p id="copyright">Copyright © 2025. All rights reserved.</p>
        </div>
        <div id="secondFooterDiv">
            <div class="textFooterDiv">
                <h1>About us</h1>
                <p> Soap 'N Shine is a GTA-based mobile auto detailing service, guaranteeing satisfaction with each wash.</p>
            </div>
            <div class="textFooterDiv">
                <h1>Get a Quote</h1>
                <p>Contact us via email or social media direct message for free, same-day quote.</p>
            </div>
        </div>
    </footer>
</body>
<script src="{{url_for('static', filename='js/base.js')}}"></script>
{%block script%}
{%endblock%}
</html>