{% extends "base.html" %}

{%block styles%}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/home.css')}}"/>
{%endblock%}

{% block title %}
Soap 'N Shine - Home
{% endblock %}

{% block main %}
<div id="firstContentBlock">
    <h1 class="largeTitle">PROFESSIONAL GRADE DETAILING AT YOUR DOORSTEP.</h1>
    <p class="paragraphText">Soap ‘N Shine™ offers remote, satisfaction-guaranteed detailing services across <span class="highlightedParagraphText">Peel Region</span> and the <span class="highlightedParagraphText">GTA.</span> </p>
    <a type='btn'class="bookNowButton" href="{{url_for('contact')}}">Book Now</a>
</div>
<div id="carousel">
    <div id="carouselTrack">
        <img class="carouselImage" src="{{url_for('static', filename='images/carousel/carousel1.jpg')}}">
        <img class="carouselImage" src="{{url_for('static', filename='images/carousel/carousel2.jpg')}}">
        <img class="carouselImage" src="{{url_for('static', filename='images/carousel/carousel3.jpg')}}">
        <img class="carouselImage" src="{{url_for('static', filename='images/carousel/carousel4.jpg')}}">
        <img class="carouselImage" src="{{url_for('static', filename='images/carousel/carousel5.png')}}">
        <img class="carouselImage" src="{{url_for('static', filename='images/carousel/carousel6.png')}}">
        <img class="carouselImage" src="{{url_for('static', filename='images/carousel/carousel7.png')}}">
        <img class="carouselImage" src="{{url_for('static', filename='images/carousel/carousel8.png')}}">
        <img class="carouselImage" src="{{url_for('static', filename='images/carousel/carousel9.png')}}">
    </div>
</div>
{% endblock %}

{%block script%}
<script src="{{url_for('static', filename='js/home.js')}}"></script>
{%endblock%}