{% extends "base.html" %}

{%block styles%}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/home.css')}}"/>
{%endblock%}

{% block title %}
Soap 'N Shine - Home
{% endblock %}

{% block main %}
<div id="firstContentBlock">
    <h1 id="homeTitle">PROFESSIONAL GRADE DETAILING AT YOUR DOORSTEP.</h1>
    <p class="paragraphText">Soap ‘N Shine™ offers remote, satisfaction-guaranteed detailing services across <span class="highlightedParagraphText">Peel Region</span> and the <span class="highlightedParagraphText">GTA.</span> </p>
    <button class="bookNowButton">Book Now</button>
</div>
<div id="carousel">
    <img id="currentCarouselImage" src="{{url_for('static', filename='images/carousel/carousel1.jpg')}}">
</div>
{% endblock %}