html{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
}

main{
    background-color: rgb(246, 246, 246);
    min-height: 100vh;
    margin:0;
}

#navbar{
    list-style-type: none;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
}

#navbar> li:nth-child(1) > a > img{
    width: 4.5vw;
    height: 4.5vw;
    padding: 0.5vw 0vw 0vw 1vw;
    
}

#navbar > li:nth-child(2) > img {
    width: 2vw;
    height: 2vw;
    padding: 0.5vw 3.5vw 0vw 0vw;
}

#popoutMenu{
    display: flex;
    flex-direction: column;
    position: fixed;
    right:0;
    top:0;
    min-height: 150vh;
    background-color: rgb(238, 238, 238);
    width: 15vh;
    margin: 0;
    transition: transform 0.3s ease-in-out;
}

#closeMenu{
    width: 2vh;
    height: 2vh;
    padding: 3vh 2vh 1vh 0vh;
    margin-left: auto;
}

#popoutMenuList{
    list-style-type: none;
    padding: 0;
}

#popoutMenuList > li > a {
    font-family: "Inter", sans-serif;
    font-weight: 550;
    color:rgb(34, 34, 34);
    text-decoration: none;
    font-size: 1rem;
    transition: color .3s;
}

#popoutMenuList > li {
    margin: 5vh 2vh;
    padding: 0.5vh;
    text-align: center;
    border-radius: 0.5rem;
}
#popoutMenuList > li > a:hover {
    color:rgb(136, 196, 206);
}

.menuOpen{
    transform: translateX(0%);
}
.menuClosed{
    transform: translateX(100%);
}

#footer {
    width: 100vw;
    height: 20vh;
    padding: 0;
    margin: 0;
    background-color: rgb(26, 26, 26);
    display: flex;
}


#socialsList{
    margin: 0;
    list-style-type: none;
    display: flex;
    padding-left: 2vh;
    padding-top: 2vh;
}

#socialsList > li > a > img {
    width: 3vh;
    height: 3vh;
    padding: 2vh;
    opacity: 0.7;
    transition: all 0.3s ease;
}

#socialsList > li > a > img:hover {
    opacity: 1;
    transform: scale(1.2);
}

#copyright{
    color: rgb(115, 115, 115);
    padding-left: 3.5vh;
    font-family: "Inter", sans-serif;
    font-weight: 500;
}

#firstFooterDiv{
    flex: 2;
}

.textFooterDiv{
    flex: 1;
    padding: 1vh 6vh 6vh 0vh;
    color: rgb(212, 212, 212);
    font-family: "Inter", sans-serif;
}

.textFooterDiv > h1{
    font-size: 3vh;
}
/* note: change all vw to vh!!  */

