html{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
}

main{
    background-color: rgb(248, 248, 248);
    min-height: 100vh;
    margin:0;
}

#navbar{
    list-style-type: none;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    background-color: white; /* ensure the shadow is visible */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* shadow below */
    width: 100%;
    position: fixed;
    top: 0;
    height: 12vh;
    padding: 0;
}

#navbar> li:nth-child(1) > a > img{
    width: 10vh;
    height: 10vh;
    padding: 0.5vw 0vw 0vw 1vw;
    margin-left: 2vw;
    
}
#navbar> li:nth-child(2) > button{
    margin-right: 2vw;
}


#footer {
    width: 100vw;
    height: 20vh;
    padding: 0;
    margin: 0;
    background-color: rgb(26, 26, 26);
    display: flex;
}


#socialsList{
    margin: 0;
    list-style-type: none;
    display: flex;
    padding-left: 2vh;
    padding-top: 2vh;
}

#socialsList > li > a > img {
    width: 3vh;
    height: 3vh;
    padding: 2vh;
    opacity: 0.7;
    transition: all 0.3s ease;
}

#socialsList > li > a > img:hover {
    opacity: 1;
    transform: scale(1.2);
}

#copyright{
    color: rgb(115, 115, 115);
    padding-left: 3.5vh;
    font-family: "Inter", sans-serif;
    font-weight: 500;
}

#firstFooterDiv{
    flex: 2;
}

.textFooterDiv{
    flex: 1;
    padding: 1vh 6vh 6vh 0vh;
    color: rgb(212, 212, 212);
    font-family: "Inter", sans-serif;
}

.textFooterDiv > h1{
    font-size: 3vh;
}

.bookNowButton{
    border: none;
    color: white;
    font-weight: 600;
    font-family: "Inter", sans-serif;
    background: linear-gradient(45deg, #A6CBD8, #43B2C8);
    border-radius: 8px;
    padding: 2vh 4vh;
    font-size: 1em;
}